p {
  max-width: 70vw;
  text-align: left;
  font-size: 1.3rem;
  line-height: 2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* No padding on bottom */
}

.logoText {
  text-align: left;
  display: flex;
  align-items: center;
}

.logoText strong {
  font-size: 3rem;
  padding-left: 1rem;
}

strong {
  color: #36522a;
  font-family: "Sour Gummy", sans-serif;
}
