.submitBtn {
  color: white;
  background-color: #cf4d6f;
  border-radius: 10px;
  text-align: center;
  width: 140px;
  margin-left: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.submitBtn:hover{
  background-color: #e53765;
}