/*labels*/
.label {
  font-size: 12px;
  color: black;
  text-wrap: nowrap;
}

/*images*/
.menu img {
  border-radius: 10px;
}

/*MENU CONTAINER*/
.menu {
  display: grid;
  grid-template-areas: "sides entrees drinks";
}

.infoContainer {
  display: grid;
  grid-template-areas: "date times";
  margin-bottom: -150px;
}

.date {
  text-align: center;
  margin-left: 520px;
}

.times {
  text-align: right;
  margin-right: 30px;
}
.units {
  color: #cf4d6f;
  font-size: 30px;
}

/*ENTREES*/
.menu .entrees {
  margin-top: 20px;
  color: #36522a;
  text-align: center;
}
/*all items*/
.menu .entreeItems {
  background-color: #e5efd2;
  width: 600px;
  height: 400px;
  place-self: center;
  place-content: center;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}
/*special entrees images*/
.menu .special img {
  object-fit: cover;
  min-width: 225px;
  height: 110px;
}
/*daily item grid*/
.menu .daily {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 120px;
  place-content: center;
}
/*daily entrees images*/
.menu .daily img {
  object-fit: cover;
  width: 75px;
  height: 75px;
}

/*daily entrees images*/
.menu .daily img {
  object-fit: cover;
  width: 75px;
  height: 75px;
}

/*SIDES*/
.menu .sides {
  margin-top: 160px;
  color: #36522a;
  text-align: center;
}
/*item grid*/
.menu .sideItems {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  background-color: #e5efd2;
  width: 270px;
  height: 240px;
  place-self: center;
  place-content: center;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
/*sides images*/
.menu .sideItems img {
  object-fit: cover;
  width: 60px;
  height: 60px;
}
/*sides images*/
.menu .sideItems img {
  object-fit: cover;
  width: 60px;
  height: 60px;
}

/*DRINKS*/
.menu .drinks {
  margin-top: 160px;
  color: #36522a;
  text-align: center;
}
/*item grid*/
.menu .drinkItems {
  display: grid;
  grid-template-columns: 100px 100px;
  background-color: #e5efd2;
  width: 270px;
  height: 240px;
  place-self: center;
  place-content: center;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
/*drinks images*/
.menu .drinkItems img {
  object-fit: cover;
  width: 75px;
  height: 75px;
}
/*drinks images*/
.menu .drinkItems img {
  object-fit: cover;
  width: 75px;
  height: 75px;
}
