.page {
  display: grid;
  grid-template-columns: 550px auto auto;
}

.image {
  object-fit: cover;
  width: 380px;
  height: 380px;
  place-self: center;
  margin-bottom: 50px;
  margin-top: 100px;
}

.name {
  font-size: 40px;
  font-weight: bold;
  display: inline;
}

/* FAVORITE */
.toggleWrapper {
  display: inline;
  margin-left: 10px;
  margin-top: 20px;
  cursor: pointer;
}
.active {
  width: 60px;
}
.inactive {
  width: 60px;
}

.rating {
  display: grid;
  grid-template-columns: 220px auto;
  margin-bottom: 40px;
}
.stars {
  color: gold;
  font-size: 30px;
}

.desc {
  line-height: 25px;
  width: 450px;
  margin-top: -20px;
  margin-bottom: 30px;
}

.hasAllergen {
  object-fit: cover;
  width: 50px;
  height: 50px;
  margin: 5px;
}
.noAllergen {
  height: 0px !important;
  width: 0px !important;
  overflow: hidden !important;
}

/*NUTRITION FACTS*/
.nutritionFacts {
  display: grid;
  grid-template-columns: 180px 180px;
}
.nutritionFacts span {
  display: block;
  line-height: 16px;
}
.nutritionFacts .main {
  font-size: 15px;
}
.nutritionFacts .sub {
  font-size: 12px;
  margin-left: 15px;
}

.AllergenNutrition {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
