a:-webkit-any-link {
  display: unset;
}
img {
  border-radius: 10px;
}
.foodsByDay {
  display: grid;
  grid-template-areas: "everyDayFoods calendarBox";
  grid-template-columns: 25% 75%;
}
.calendarBox {
  display: flex;
  flex-direction: column;
  width: 900px;
  background-color: #f4f4f4;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.daysOfWeekBox {
  display: flex;
}
.month {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}
/*monday*/
.dayOfWeek {
  display: grid;
  grid-template-rows: 10% 10% 40% 40%;
  padding: 0 10px 20px 10px;
  text-align: center;
}

.dayOfWeek > h3 {
  align-self: center;
  margin: 0;
}

.dayOfWeek > h2 {
  align-self: center;
  margin: 0;
}
.dayOfWeek .dayOfWeekEntree {
  justify-self: center;
  height: 140px;
  width: 160px;
  text-align: center;
}

.dayOfWeekEntree h3 {
  background-color: unset;
  font-weight: normal;
  font-size: 12px;
}
.dayOfWeekEntree img {
  width: 150px;
  height: 100px;
  text-align: center;
  object-fit: cover;
}

.byDayFoodBox {
  display: block;
  text-align: center;
  justify-content: center;
  width: 160px;
  color: black;
  text-decoration: none;
}

.byDayFoodBox > h3 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: normal;
  font-size: 1em;
  height: 48px;
  text-overflow: ellipsis;
  margin: 20px 0 10px 0;
}

.byDayImg {
  width: 150px;
  height: 100px;
  object-fit: cover;
}
.everyDayFoods {
  display: grid;
  grid-template-columns: 125px 125px;
  grid-template-rows: 50px 125px 125px;
  background-color: #e5efd2;
  width: 250px;
  height: 300px;
  place-self: center;
  place-content: center;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.everyDayFoods h2 {
  font-size: 18px;
  grid-row: 1;
  grid-column: span 2;
  text-align: center;
}

.highlightDay {
  background-color: #e5efd2;
}

.dailyDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dailyImg {
  object-fit: cover;
  padding: 10px;
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
