.wrapper {
  width: 225px;
}

button {
  all: unset;
  cursor: pointer;
  display: flex;
  padding: 4px;
  justify-content: space-between;
  font-size: 1.25rem;
  width: 100%;
}

.upsidedown {
  transform: rotate(180deg);
}

.cblistwrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.cbwrapper {
  display: flex;
  align-items: center;
}

.checkbox {
  all: unset;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #e28da4;
  background-color: #e28da400;
  cursor: pointer;
}

.checkbox:checked {
  background-color: #e28da4;
}

.bg {
  width: 100%;
  height: 0px;
  background-color: #e28da450;
  overflow: hidden;
  padding-left: 1.1rem;
}

.bg.open {
  height: fit-content;
}

.checkboxLabel {
  margin-left: 0.5rem;
  font-size: 1rem;
}
